{
  "clusters": [
    {
      "nodes": [
        {
          "node": {
            "hostnames": {
              "manage": [
                "minicloudnode6"
              ],
              "storage": [
                "192.168.11.26"
              ]
            },
            "zone": 1
          },
          "devices": [
            "/bigdata/arangodb"
          ]
        },
        {
          "node": {
            "hostnames": {
              "manage": [
                "minicloudnode5"
              ],
              "storage": [
                "192.168.1.25"
              ]
            },
            "zone": 1
          },
          "devices": [
          "/bigdata/arangodb"
          ]
        },
        {
          "node": {
            "hostnames": {
              "manage": [
                "minicloudnode4"
              ],
              "storage": [
                "192.168.1.24"
              ]
            },
            "zone": 1
          },
          "devices": [
            "/bigdata/arangodb"
          ]
        }
      ]
    }
  ]
}
